.container {
  background: #e67a2b;
  height: 100%;
}
.container .row {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.container .row .btn-group {
  display: flex;
  flex-direction: row;
}
.container .row .btn-group .button {
  width: 25%;
  font-size: 2em;
  background: #e67a2b;
  border: 1px solid #FFF;
  font-weight: bold;
  font-family: Roboto;
  color: #FFF;
}
.container .row .btn-group .button:hover {
  background: #a84a05 !important;
}
.container .row .btn-group .operator {
  font-size: 4em;
}
.container .row .btn-group .full-width {
  flex: 1;
}
.container .txtInput {
  display: flex;
  height: 100px !important;
  flex: 1;
  font-size: 80px;
  text-align: right;
}
